@font-face {
  font-family: "corbel-regular";
  src: local("corbel-regular"), url("./CORBEL.TTF");
}

@font-face {
  font-family: "corbel-bold-italic";
  src: local("corbel-bold-italic"), url("./Corbel Bold Italic.ttf");
}

@font-face {
  font-family: "corbel-italic";
  src: local("corbel-italic"), url("./Corbel Italic.ttf");
}

@font-face {
  font-family: "corbel-bold";
  src: local("corbel-bold"), url("./Corbel Bold.ttf");
}
