html {
  @media #{$mobile} {
    font-size: 4.25%;
  }

  @media #{$tablet} {
    font-size: 5.25%;
  }

  @media #{$desktop} {
    font-size: 6.25%;
  }
}

body {
  font-size: 20px;
  font-family: corbel-regular;
  color: var(--main-black);
}

h1 {
  font-size: 70rem;
  text-transform: uppercase;
}

h2 {
  font-size: 35rem;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  text-transform: uppercase;
}
